# General OS junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editors and IDEs
.vscode/
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.tsbuildinfo


dist/
dist-ssr/
web-build/
out/
build/


node_modules/
.pnp
.pnp.js
jspm_packages/
.expo/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
env.bak/
venv.bak/


local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/
staticfiles/


.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local


/mobile-rn/ios
/mobile-rn/android
.metro-health-check*
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem


Design_mockup_NEW./
web_design_mockup./
remove_comments.sh
trash.sh
pkill.sh
start.sh
delete_restaurants.sh

# Environment variables
.env
.env.local
*.env
