DEBUG=False
SECRET_KEY=replace_with_long_random
JWT_SIGNING_KEY=replace_with_long_random_32_plus

DATABASE_URL=postgres://postgres:POSTGRES_PASSWORD@db:5432/kezdes_db
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=amqp://RABBITMQ_USER:RABBITMQ_PASSWORD@rabbitmq:5672//

ALLOWED_HOSTS=your-domain.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com
DEFAULT_FROM_EMAIL=no-reply@your-domain.com
TWOGIS_API_KEY=your_2gis_key
