django
djangorestframework
django-cors-headers
django-environ
psycopg2-binary
drf-spectacular
pillow
django-filter
djangorestframework-simplejwt
celery
redis
django-celery-beat
openpyxl
bcrypt
channels
daphne
channels-redis
requests
